In [2]:
import pandas as pd

In [3]:
path_ADAILJR = 'csvs/ADAIL JR. ADAIL FERNANDES VIEIRA JUNIOR.csv'
path_LeoCouto = 'csvs/LEO COUTO LEONARDO SALES COUTO BEZERRA.csv'

In [46]:
import ast

with open('dicionarios_partidos.txt',"r") as f:
    conteudo = f.read()
    
meu_dict = ast.literal_eval(conteudo)

In [5]:
df = pd.read_csv(path_LeoCouto, delimiter= ';')
df = df.drop(index = df.index[-1], columns=['Candidato','Unnamed: 12','Seções Agregadas','Endereço Local de Votação'], axis= 1)
df_agrupado = df.groupby(['Local de Votação','Bairro'])['Votos'].sum().reset_index()
df['Número'] = df['Número'].astype(int)
df['Número'] = df['Número'].astype(str)
#df["Partido"] = df["Número"].apply(lambda x: meu_dict.get(x[:2], "Desconhecido"))
display(df)
display(df.info())
display(df['Votos'].sum())
df_agrupado.sort_values('Votos')

,Ano,Turno,Município,Número,Zona,Seção,Votos,Local de Votação,Bairro
0,2024,1.0,FORTALEZA,40123,1.0,33.0,2,UNINTA - FACULDADE UNINTA FORTALEZA,COCÓ
1,2024,1.0,FORTALEZA,40123,1.0,34.0,7,UNINTA - FACULDADE UNINTA FORTALEZA,COCÓ
2,2024,1.0,FORTALEZA,40123,1.0,35.0,5,UNINTA - FACULDADE UNINTA FORTALEZA,COCÓ
3,2024,1.0,FORTALEZA,40123,1.0,36.0,5,UNINTA - FACULDADE UNINTA FORTALEZA,COCÓ
4,2024,1.0,FORTALEZA,40123,1.0,37.0,6,UNINTA - FACULDADE UNINTA FORTALEZA,COCÓ
...,...,...,...,...,...,...,...,...,...
3169,2024,1.0,FORTALEZA,40123,118.0,664.0,1,EM DELMA HERMÍNIA DA SILVA PEREIRA,PASSARÉ
3170,2024,1.0,FORTALEZA,40123,118.0,667.0,1,EM PROFESSORA MARIA STELLA COCHRANE SANTIAGO,BOA VISTA-CASTELÃO
3171,2024,1.0,FORTALEZA,40123,118.0,671.0,1,COLÉGIO MAJESTIC,MONDUBIM
3172,2024,1.0,FORTALEZA,40123,118.0,677.0,4,EEMTI DEPUTADO PAULINO ROCHA,PASSARÉ
3173,2024,1.0,FORTALEZA,40123,118.0,680.0,1,EEMTI INTEGRADA 2 DE MAIO,PASSARÉ

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3174 entries, 0 to 3173
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ano               3174 non-null   object
 1   Turno             3174 non-null   float64
 2   Município         3174 non-null   object
 3   Número            3174 non-null   object
 4   Zona              3174 non-null   float64
 5   Seção             3174 non-null   float64
 6   Votos             3174 non-null   int64
 7   Local de Votação  3174 non-null   object
 8   Bairro            3174 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 223.3+ KB

None

np.int64(8975)

                                     Local de Votação           Bairro  Votos
628                                   WIZARD DOM LUÍS         MEIRELES      1
1                 ACADEMIA DO PROFESSOR DARCY RIBEIRO           CENTRO      1
18                CEI MARIA MARIZA MENDES DE CARVALHO       VILA VELHA      1
22                  CEI PROFESSOR JOSE TEODORO SOARES           ANCURI      1
606                POSTO DE SAUDE DR JURANDIR PICANCO  GRANJA PORTUGAL      1
..                                                ...              ...    ...
188           CRECHE RACHEL GUIMARÃES MARTINS BARBOSA    CAIS DO PORTO    142
551  ESCOLA MUNICIPAL PROF. GODOFREDO DE CASTRO FILHO    CAIS DO PORTO    154
216                              EEFM - HELENITA MOTA    CAIS DO PORTO    181
490            EMTI VEREADOR ALBERTO GOMES DE QUEIROZ    CAIS DO PORTO    278
167                             COLÉGIO SANTA CECÍLIA          ALDEOTA    409

[629 rows x 3 columns]

In [7]:
df_agrupado.sort_values('Votos',ascending=0)
df_agrupado[df_agrupado['Bairro'] == 'ALDEOTA']

                                      Local de Votação   Bairro  Votos
71                     COLEGIO ANTARES - SANTOS DUMONT  ALDEOTA     21
72                 COLEGIO ARI DE SA - MONSENHOR CATAO  ALDEOTA    131
99            COLÉGIO ANTARES (RUA BARBOSA DE FREITAS)  ALDEOTA     18
104                    COLÉGIO BATISTA - SANTOS DUMONT  ALDEOTA     47
107            COLÉGIO CHRISTUS (AV. BARÃO DE STUDART)  ALDEOTA     14
116                                     COLÉGIO DARWIN  ALDEOTA      2
122                   COLÉGIO ESPAÇO ABERTO - DOM LUÍS  ALDEOTA      8
167                              COLÉGIO SANTA CECÍLIA  ALDEOTA    409
317                                 EEMTI RENATO BRAGA  ALDEOTA      7
593    INSTITUTO CEARENSE DE EDUCAÇÃO DE SURDOS - ICES  ALDEOTA      7
610  RECEITA FEDERAL (SUPER. DE ADM. DO MIN. DA ECO...  ALDEOTA      1
624                                UNICHRISTUS ALDEOTA  ALDEOTA      6

In [ ]:
df = pd.read_csv(path_LeoCouto, delimiter=";")
df = df.drop(index=df.index[-1], errors='ignore')
df['Número'] = df['Número'].astype(int)
df['Número'] = df['Número'].astype(str)
colunas_validas = ['Candidato', 'Número', 'Local de Votação', 'Votos']
if 'Bairro' in df.columns:
    colunas_validas.append('Bairro')
df = df[colunas_validas]

meu_dict = {}
        
df['Partido'] = df['Número']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3174 entries, 0 to 3173
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Candidato         3174 non-null   object
 1   Número            3174 non-null   object
 2   Local de Votação  3174 non-null   object
 3   Votos             3174 non-null   int64
 4   Bairro            3174 non-null   object
dtypes: int64(1), object(4)
memory usage: 124.1+ KB